<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Helpersons</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e0d9b10ad3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav>
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
          <i class="fas fa-bars" id="bars"></i>
          <i class="fas fa-times" id="cancel"></i>
        </label>
        <a class="logo" href=""><img src="images/logo-icon.svg" alt="" /></a>
        <ul class="menu">
          <li class="menu-option"><a href="">HOME</a></li>
          <li class="menu-option"><a href="">SOBRE NOSOTROS</a></li>
          <li class="menu-option"><a href="">RESEÑAS</a></li>
          <li class="menu-option">
            <a class="btn-imp" href="/login"
              ><i class="fas fa-sign-in-alt"></i>INGRESAR</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <section class="cont-index">
        <div class="cont-encabezado">
            <h1 class="title">Hel<span style="color: #ffffff;">persons</span> </h1>
            <div class="cont-parrafoo">
                <p class="parrafoenc">Encuentra solución a tus problemas o forma parte de la comunidad de ayuda como Helper</p>
            </div>
            <div class="btn-encabezado">
                <a class="btn-person" href="/newaccount?acount-type=person">Quiero Ayuda</a>
                <a class="btn-helper" href="/newaccount?acount-type=helper">Quiero Ayudar</a>
            </div>
  </div>
        
      </div>
    </section>

    <section class="seccion-info">
      <h1 class="tit-info-hp">
        ¿Qué es <span style="color: #3de200;">Hel</span>persons?
      </h1>
      <p class="info-parrafo">
        Helpersons es una plataforma que conecta a las personas para ayudarse
        mutuamente a resolver inquietudes y problemáticas.
      </p>
      <div class="icon-container-info">
        <div class="cont-card-info">
          <img src="images/icon-grupo.svg" alt="" />
          <h3>Sesión individual</h3>
          <p>Habla directamente con un profesional que pueda ayudarte.</p>
        </div>
        <div class="cont-card-info">
          <img src="images/icono-mplat.svg" alt="" />
          <h3>Multi canal</h3>
          <p>Podés elegir entre llamada o Videollamada, vos elegís!</p>
        </div>
        <div class="cont-card-info">
          <img src="images/icono-24.svg" alt="" />
          <h3>24/7</h3>
          <p>Podés ingresar desde donde quieras las 24hs.</p>
        </div>
      </div>
      <div class="cta-cont">
        <a class="calltoact" href="">Sumate a la ayuda</a>
      </div>
    </section>

    <section class="resenas-help">
      <div class="cont-resen">
        <h1 class="tit-resenas">
          Experiencias de nuestros usuarios!
        </h1>

        <div class="img-resenas-cont">
          <img class="resena-img" src="images/reseña-formato.svg" alt="" />
          <img class="resena-img" src="images/reseña-formato.svg" alt="" />
          <img class="resena-img" src="images/reseña-formato.svg" alt="" />
          <img class="resena-img" src="images/reseña-formato.svg" alt="" />
          <img class="resena-img" src="images/reseña-formato.svg" alt="" />
          <img class="resena-img" src="images/reseña-formato.svg" alt="" />
        </div>
      </div>
    </section>
    <section class="footer">
      <div class="footer-hijo">
        <a href="">Información y ayuda</a>
        <div class="social">
          <a href="https://www.facebook.com" target="_blank"
            ><i class="fab fa-facebook" aria-hidden="true"></i
          ></a>
          <a href="https://www.twitter.com" target="_blank"
            ><i class="fab fa-twitter" aria-hidden="true"></i
          ></a>
          <a href="https://www.instagram.com" target="_blank"
            ><i class="fab fa-instagram" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </section>

    <script src="dist/bundle.js"></script>
  </body>
</html>
